# GLOBAL (Applies to whole repo)

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
.history/
# Environment files (IMPORTANT)
.env
.env.local
.env.development
.env.production

# FRONTEND (React / Vite / Next)

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/
frontend/.cache/
frontend/.next/
frontend/out/

# Frontend env files
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production

# BACKEND (Node / Express)

backend/node_modules/
backend/dist/
backend/build/
backend/coverage/

# Backend env files
backend/.env
backend/.env.local
backend/.env.development
backend/.env.production

# DATABASE / UPLOADS

backend/uploads/
backend/tmp/

# IDE / Editor files


.vscode/
.idea/
*.swp
*.swo
